ccsf	{font-family:"Fira Sans", Verdana, Arial, sans-serif; font-size:24px; padding:25px 25px 0 25px;}
name {font-variant: small-caps; font-weight: 200;}
course {display:block;}
instructor {font-size: 16px; font-weight: bold; font-style: italic;}
#cnit32111 {color:red;}
#cnit32123 {color:blue;}
#cnit32145 {color:green;}
#cnit32167 {color:orange;}
